# Development environment variables for AirMetrics Frontend
# Copy this file to .env and fill in the values before running the application


VITE_BACKEND_IP_ADDRESS= 
VITE_BACKEND_PORT=

VITE_API_BASE_BACKEND_URL=http://${VITE_BACKEND_IP_ADDRESS}:${VITE_BACKEND_PORT}